{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}


{% block content %}
{% if alert %}
<br>
<div class="container">
    <div class="row">
        <div id="marcador" class="col-sm align-items-center" >
            <div class="alert alert-success">
                {{ alert }}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo Skoolit">
</div>


<div id="login_box" class="border border-dark rounded">
    <div class="d-flex text-center flex-wrap align-items-center justify-content-center">
        <h2>Login</h2>
    </div>
    
    <div class="d-flex flex-nowrap text-center align-items-center justify-content-center">
        <form id='login_form' action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <!-- <span class='formLabel float-left'>{{ form.nome.label }}</span><br> -->
                <span class='formLabel float-left'>Usuário ou e-mail</span><br>
                {{ form.nome(class="form-control",size=40) }}
                <div class="container col-md-8">
                {% for error in form.nome.errors %}
                    <div class="alert alert-danger" role="alert" style="color: red;">{{ error }}</div>
                {% endfor %}
                </div>
            </p>
            <p>
                <!-- <span class='formLabel float-left'>{{ form.senha.label }}</span><br> -->
                <span class='formLabel float-left'>Senha</span><br>
                {{ form.senha(class="form-control",size=20) }}
                
                <div class="container col-md-8">
                {% for error in form.senha.errors %}
                    <div class="alert alert-danger" role="alert" style="color: red;">{{ error }}</div>
                {% endfor %}
                </div>
                
            </p>
            <div class="d-flex flex-nowrap">
                <div class="ml-3 flex-grow-1 bd-highlight">
                    <p id="lembrese" class="float-left">
                        {{ form.rememberme (id="lembrebox",class="form-check-input") }}
                        <label class="form-check-label" for="lembrebox">Lembrar login</label>  
                    </p>
                </div>
                <div class="mr-2 bd-highlight">
                    <div id="esqueceu" class="">
                        <a href="" class="float-right">Esqueceu a senha?</a>
                    </div>
                </div>
            </div>
            <div class="container col-md-8">
                {% for message in get_flashed_messages() %}
                    {% if message %}
                    <div class="alert alert-danger" role="alert" style="color: red;">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            
            
            <br>
            <div id="lowerLoginBox" class="container">
                <div class="row">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
                <br>
                <div class="row">
                    <span class="float-left">Ainda não está matriculado? <a href="">Matricule-se</a></span>
                </div>
            </div>
            

        </form>
    </div>

    <div class="d-flex text-center flex-wrap">
        
    </div>

    
</div>



{% endblock %}
