.card.usuarios {
  background-color: var(--white);
  border-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .16);

  padding: 20px 10px;
  margin-bottom: 30px; 
  
  width: 100%;
}

td a {
  color: inherit;
  text-decoration: none;
}
