body {
  background-color: var(--background);
}

#titulo-turma, #titulo-descricao {
  font-weight: bold;
}


.container {
  margin-top: 240px;
}

.btn {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, .2)
}

.btn:hover {
  background-color: var(--accent-hover) !important;
  border-color: var(--accent-hover) !important;
}

.card.modulos-turma {
  background-color: var(--white);
  border-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .16);

  padding: 20px 10px;
  margin-bottom: 30px;
   
  width: 100%;
}


.card-postagens {
  background-color: var(--white);
  border-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .16);

  padding: 20px 10px;
  margin-bottom: 30px;
   
  width: 100%;
}

.data p {
  font-size: 14px;
}

.card-postagem {
  background-color: #FFF;
  border-color: #FFF;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .16);

  padding: 20px 10px;
  margin-bottom: 30px; 

  width: 100%;
}

.perfil-circulo {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.autor-postagem {
  display: inline;
}