{% extends "navfoot.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='turmas/detalhes_turma.css') }}">
{% endblock %}

{% block title %}{{turma.nome}}{% endblock %}

{% block content %}

<div class="container">

		<div class="d-flex mb-5">
			<div class="mr-auto">
				<h1 id="titulo-turma">{{turma.materia.nome}} - {{turma.titulo}}</h1>
			</div>

			<div class="mt-2 mr-1">
				<a href="{{url_for('turmas.atualizar', id=turma.id)}}"
					class="btn btn-primary mr-2" role="button">
					Editar
				</a>
			</div>

			<div class="mt-2">
				<a href="{{url_for('turmas.excluir', id=turma.id)}}"
					class="btn btn-primary" role="button">
					Excluir
				</a>
			</div>
		</div>

		<div class="column justify-content-center">
			<div class="card descricao-turma">
				<div class="card-body">
					<h5 id="titulo-descricao" class="card-title"> Informações Básicas</h5>
					<p class="card-text"><b>Professor:</b> {{turma.professor.nome}} ({{turma.professor.email}})</p>
					<p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. A ordem dos tratores não altera o pão duris. Cevadis im ampola pa arma uma pindureta.
						Si num tem leite então bota uma pinga aí cumpadi! Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Detraxit consequat et quo num tendi nada. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.</p>
					<p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. A ordem dos tratores não altera o pão duris. Cevadis im ampola pa arma uma pindureta.</p>
				</div>
			</div>

			<div class="card descricao-turma">
				<div class="card-body">
					<h5 id="titulo-descricao" class="card-title"> Descrição da turma</h5>
					<p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. A ordem dos tratores não altera o pão duris. Cevadis im ampola pa arma uma pindureta.
						Si num tem leite então bota uma pinga aí cumpadi! Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Detraxit consequat et quo num tendi nada. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.</p>
					<p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. A ordem dos tratores não altera o pão duris. Cevadis im ampola pa arma uma pindureta.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
