{% extends "navfoot.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='materias/listar_materias.css') }}">
{% endblock %}


{% block title %}Listar matérias{% endblock %}

{% block content %}

<div class="container">

	<div class="d-flex mb-5">
		<div class="mr-auto">
			<h1>Matérias</h1>
		</div>

		<div class="mt-2">		
			<a href="{{url_for('turmas.criar_materia')}}"
				class="btn btn-primary" role="button">
				Nova matéria
			</a>
		</div>
	</div>
		

	<div class="row align-items-center">
		{% for materia in materias %}
			<div class="card materia">
				<div class="card-body">
					<h5 class="card-title text-center"> 
						<a href="{{url_for('turmas.listar_materia', id=materia.id)}}">{{materia.nome}}</a>
					</h5>
					<div class="text-center">
						<a href="{{url_for('turmas.atualizar_materia', id=materia.id)}}" class="card-link">Editar</a>
						<a href="{{url_for('turmas.excluir_materia', id=materia.id)}}" class="card-link">Excluir</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% if materias|length == 0  %}
		<p>Não existem matérias criadas.</p>
	{% endif %}
</div>

{% endblock %}
