{% extends "navfoot.html" %}

{% block title %}Atualizar usuário{% endblock %}

{% block content %}

<h1>Atualizar usuário</h1>
<form method="POST" novalidate>
	{{form.hidden_tag()}}
	{{form.nome.label}} {{form.nome}} 
	{% for error in form.nome.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	<br>

	{{form.email.label}} {{form.email}}
	{% for error in form.email.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	<br>

	{{form.senha.label}} {{form.senha}}
	{% for error in form.senha.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	<br>


	{{form.papel.label}} {{form.papel}}

	{{form.submit}}
</form>

{% endblock %}
