{% extends "navfoot.html" %}

{% block title %}
	{% if acao == 'criar' %}
		Criar usuário
	{% elif acao == 'atualizar' %}
		Atualizar usuário
	{% endif %}

{% endblock %}

{% block content %}
	{% if acao == 'criar' %}
		<h1>Criar usuário</h1>
	{% elif acao == 'atualizar' %}
		<h1>Atualizar usuário</h1>
	{% endif %}

<form method="POST" novalidate>
	{{form.hidden_tag()}}
	{{form.nome.label}} {{form.nome}} 
	{% for error in form.nome.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	<br>

	{{form.email.label}} {{form.email}}
	{% for error in form.email.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	<br>

	{{form.senha.label}} {{form.senha}}
	{% for error in form.senha.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	<br>

	{{form.senha2.label}} {{form.senha2}}
	{% for error in form.senha2.errors %}
		<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
	<br>

	{{form.papel.label}} {{form.papel}}

	{{form.submit}}
</form>

{% endblock %}
