{% extends "navfoot.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='materias/criar_materia.css') }}">
{% endblock %}

{% block title %}Criar matéria{% endblock %}

{% block content %}

<div class="container conteudo">
	<div class="d-flex justify-content-between mb-5">
		<h1 class="bold">Criar matéria</h1>
	</div>

	<div class="card form-materia">
		<div class="card-body">
			<form method="POST">
				{{form.hidden_tag()}}
				{{form.nome.label(class="form-label")}} <br>
				{{form.nome(class="form-control w-50")}} <br>
				{{form.submit(class="btn")}}
			</form>
		</div>
	</div>
</div>

{% endblock %}
