<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap CSS -->
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	{% block style %}{% endblock %}
	<title>{% block title %}{% endblock %} - Skoolit</title>
	
</head>

<body>

<ul>
	<li><a href="{{url_for('home')}}">Página inicial</a></li>
	{% if current_user.is_anonymous %}
		<li><a href="{{url_for('auth.login')}}">Fazer login</a></li>
	{% else %}
		<li><a href="{{url_for('auth.logout')}}">Sair</a></li>
	{% endif %}
</ul>

{% block content %}

{% endblock %}

</body>
</html>