{% extends "navfoot.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-between mb-5">
		<h1 id="titulo">Administrar</h1>
	</div>

	<div class="row d-flex justify-content-between align-items-center">
		<div class="card sessao">
			<div class="card-body d-flex justify-content-center align-items-center">
				<h5 class="card-title text-center"> 
					<a id="sessao-nome" href="{{url_for('usuarios.listar')}}">Listagem de usuários</a>
				</h5>
			</div>
		</div>

		<div class="card sessao">
			<div class="card-body d-flex justify-content-center align-items-center">
				<h5 class="card-title text-center"> 
					<a id="sessao-nome" href="{{url_for('turmas.listar')}}">Listagem de turmas</a>
				</h5>
			</div>
		</div>
		
		<div class="card sessao">
			<div class="card-body d-flex justify-content-center align-items-center">
				<h5 class="card-title text-center"> 
					<a id="sessao-nome" href="{{url_for('materias.listar')}}">Listagem de matérias</a>
				</h5>
			</div>
		</div>
	</div>
</div>
{% endblock %}
