{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% if alert %}
<br>
<div class="container">
    <div class="row">
        <div id="marcador" class="col-sm align-items-center" >
            <div class="alert alert-success">
                {{ alert }}
            </div>
        </div>
    </div>
</div>
{% endif %}


<div id="login_box" class="border border-dark rounded">
    <div class="d-flex text-center flex-wrap align-items-center justify-content-center">
        <h2>Login</h1>
    </div>
    
    <div class="d-flex text-center flex-wrap align-items-center justify-content-center">
        
        <form id='login_form' action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.nome.label }}<br>
                {{ form.nome(class="form-control",size=32) }}<br>
                {% for error in form.nome.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.senha.label }}<br>
                {{ form.senha(class="form-control",size=32) }}<br>
                {% for error in form.senha.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="btn btn-primary") }}</p>

            {% with message = get_flashed_messages() %}
                {% if message %}
                    <p style="color: red; padding-bottom: 5px;">{{ message }}</p>
                {% endif %}
            {% endwith %}
            
        </form>
    </div>

    {# <p class="text-center">Not an user yet? <a href="{{url_for('register')}}">Register</a></p> #}
</div>



{% endblock %}
